<h1>Edit Categories</h1>
<div class="example-wrapper">
     
    <kendo-grid
    [data]="categories"
    [height]="533"
    [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [pageable]="true" [sortable]="true"
    (dataStateChange)="onStateChange($event)"
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)" (remove)="removeHandler($event)"
    (add)="addHandler($event)"
  >
<ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
</ng-template>
<kendo-grid-column field="id" title="Id"></kendo-grid-column>
<kendo-grid-column field="title" title="Category"></kendo-grid-column>
<kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridRemoveCommand>Remove</button>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
</kendo-grid-command-column>
</kendo-grid>
</div>