<div id="postlist" *ngFor="let item of articleModel">
    <div class="panel">

        <div class="panel-heading">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-9">
                        <h3 class="pull-left">
                            <h3 (click)="onSelect(item.id)">{{item.title}}</h3>
                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <small>Category:
                            <div *ngFor="let item2 of item.category"> {{item2.title}} </div>
                        </small>
                        <h4 class="pull-right">
                            <small>Author: {{item.author}}</small>
                            <span class="glyphicon glyphicon-remove-circle" (click)="dell(item)"></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{item.description}}
        </div>
        <div class="panel-footer">
 
            <h4>
                <span> {{item.comment.length}} </span>
                <span class=" glyphicon glyphicon-comment"></span>
                <small class="pull-right">{{item.dateTime}}</small>
            </h4>
        </div>
    </div>
</div>